.hero-section {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('../src/img1.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    letter-spacing:3exl;
}

.book-01{
    background-color: rgb(51, 214, 187);
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    height: 200px;
    width: 150px;
    text-align: center;
    font-size: 20px;
}

#books .title:hover{
    text-decoration: none;
}