<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ConstWeb</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="./src/logo.webp" type="image/x-icon">
  </link>
</head>

<body>
  <div id="app">
    <!-- 导航栏 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <img src="./src/logo.webp" class="img-fluid rounded-circle" alt="ConstWeb Logo" width="50px"></img>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" :class="{active:item.sronly}" v-for="item in navs">
              <a class="nav-link" :href="item.url">{{item.name}}</a>
              <span v-if="item.sronly" class="sr-only">(current)</span>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <!-- 设置背景图片 -->
      <div class="container p-4 mt-5">
        <div class="row">
          <div class="col-md-6">
            <h1 class="mt-5">春风化雨</h1>
            <p class="lead">ConstWeb is a personal website for const.</p>
            <button class="btn btn-primary mt-4" @click="test">点我一下试试</button>
          </div>
          <div class="col-md-6 rounded" style="background-image: url('./src/img1.jpg');background-size: cover;" >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="links" class="container border p-5 mt-5">
    <h3>Links</h3>
    <div class="row">
      <div class="col-md-4" v-for="(linkArray, colIndex) in links" :key="colIndex">
        <div class="mt-2" v-for="(item, itemIndex) in linkArray" :key="itemIndex">
          <a :href="item.href" target="_blank">{{item.name}}</a>
        </div>
      </div>
    </div>
  </div>
  <!-- 底部栏 -->
  <footer class="py-4 text-center">
    <p class="text-muted">&copy; 2024 const All rights reserved.</p>
  </footer>
  <script src="./js/jquery.js"></script>
  <script src="./js/bootstrap.js"></script>
  <script src="./js/index.js" type="module"></script>
  <script src="./js/links.js" type="module"></script>
</body>

</html>