body{
    margin: 0;
}
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.flex1{
    flex: 1;
}
.flex2{
    flex: 2;
}
.flex3{
    flex: 3;
}
.center{
    align-items: center;
    justify-content: center;
}
.second_p{
    margin-top: 0;
    color: black;
}
.white{
    color: white;
}
@media (max-width:600px){
low_column{
    flex-direction: column;
}

}


