<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ConstWeb</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style>
        #colorPicker{
            width: 50px;
            height: 50px;
        }
    </style>
</head>

<body>
  <div id="app">
    <!-- 导航栏 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <img src="/src/logo.webp" class="img-fluid rounded-circle" alt="ConstWeb Logo" width="50px"></img>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" :class="{active:item.sronly}" v-for="item in navs">
              <a class="nav-link" :href="item.url">{{item.name}}</a>
              <span v-if="item.sronly" class="sr-only">(current)</span>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div id="light" class="text-center p-5">
    <p>选择颜色</p>
    <input type="color" id="colorPicker">
  </div>

  <!-- 底部栏 -->
  <footer class="py-4 text-center">
    <p class="text-muted">&copy; 2024 const All rights reserved.</p>
  </footer>
  <script src="../js/jquery.js"></script>
  <script src="../js/bootstrap.js"></script>
  <script src="../js/light.js" type="module"></script>
</body>

</html>